---
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="danilppzz" lang="en">
  <main class=" bg-[#08090A] h-screen">
    <Header />
    <Section title="About">
      A passionate backend developer with an innate love for programming and boundless creativity. My innovative approach and solid technical skills drive me to tackle challenges with enthusiasm. Ready to contribute my passion and expertise to challenging projects.
    </Section>
  </main>
</Layout>
