---

---

<span class="text-gradient">
  <slot />
</span>

<style>
    .text-gradient {
      font-size: 72px;
      background: -webkit-linear-gradient(#154360, #3f99d5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
</style>
