---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="/manifest.json">

    <meta name="keywords" content="dev, backend, spain" />
    <meta name="description" content="Backend Developer for 2 years." />
    <meta name="author" content="Nombre del autor" />

    <meta property="og:title" content="danilppzz" />
	<meta property="og:description" content="Backend Developer for 2 years."/>
	<meta property="og:image" content="https://danilppzz.dev/icon.png" />
	<meta property="og:url" content="https://danilppzz.dev"/>

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="danilppzz">
	<meta name="twitter:description" content="Backend Developer for 2 years.">
	<meta name="twitter:image" content="https://danilppzz.dev/icon.png">

	<title>{title}</title>
 </head>

 <body>
	<slot />
 </body>
</html>
